In [1]:
import pandas as pd
import yfinance as yf

In [6]:
TICKER = 'PETR4.SA'

In [9]:
ticker_info = yf.Ticker(TICKER)
ticker_data = ticker_info.history(period="5y")

In [10]:
ticker_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-01-02 00:00:00-02:00,8.032427,8.620166,7.936252,8.570297,104534800,0.0,0.0
2019-01-03 00:00:00-02:00,8.534678,8.841014,8.477685,8.780459,95206400,0.0,0.0
2019-01-04 00:00:00-02:00,8.851699,8.883758,8.716341,8.805392,72119800,0.0,0.0
2019-01-07 00:00:00-02:00,8.851700,9.232839,8.798269,8.944313,121711900,0.0,0.0
2019-01-08 00:00:00-02:00,9.047613,9.054737,8.823204,8.890882,68761800,0.0,0.0